
<% colors = ["info", "warning", "success", "danger"]
colors_original = ["info", "warning", "success", "danger"]
%>
<% @drugs.each do |drug| %>
  <% colors = colors_original if colors.blank?%>
  <% color = colors.shift %>
  <div class="row">
    <div class="col-md-2">
      &nbsp;
    </div>
    <div class="col-md-8">
      <div class="callout callout-<%=color%>">
        <h4><%= drug.name %></h4>

        <p><%= drug.description %></p>
      </div>
    </div>
    <div class="col-md-2">
      &nbsp;
    </div>
  </div>
<% end %>

